.cards-container {
    gap: 5px;

    .menu-card {
        flex-basis: 46%;
        align-self: stretch;
        cursor: pointer;
    }

    .flex-basis-full {
        flex-basis: calc(92% + 5px);
    }
}

