<div class="container pt-4 pb-4">
    <div class="cards-container d-flex flex-wrap justify-content-center align-items-center">
        <ng-container *ngFor="let menu of menus; let last = last; let even = even;">
            <mat-card class="menu-card" [ngClass]="{'flex-basis-full': last && even}" (click)="navigate(menu)">
                <mat-card-content class="h-100">
                    <div class="h-100 d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex flex-row">
                            <mat-icon *ngFor="let icon of menu.Icons" color="primary">{{icon}}</mat-icon>
                        </div>
                        <span class="text-center">{{menu.Label}}</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
    <!-- <div *ngIf="loggedInUser.ProjectType === 1">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <mat-form-field class="w-100">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="search" placeholder="Search" [(ngModel)]="searchText" (keyup)="filterList()">
            </mat-form-field>
        </div>

        <mat-card class="w-100 mb-2" *ngFor="let obj of filteredUsers">

            <mat-card-content>
                <div class="d-flex justify-content-between">
                    <span>{{obj.MobileNo}}</span>

                </div>
            </mat-card-content>

        </mat-card>
    </div> -->

</div>