<div class="container">
    <div class="cards-container d-flex flex-wrap justify-content-center align-items-center">
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <mat-icon color="primary">arrow_upward</mat-icon>
                    <span class="text-center">Send</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <mat-icon color="primary">arrow_downward</mat-icon>
                    <span class="text-center">Receive</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <mat-icon color="primary">compare_arrows</mat-icon>
                    <span class="text-center">Journal</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <div class="d-flex">
                        <mat-icon color="primary">list</mat-icon>
                        <mat-icon color="primary">arrow_upward</mat-icon>
                    </div>
                    <span class="text-center">Sent List</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <div class="d-flex">
                        <mat-icon color="primary">list</mat-icon>
                        <mat-icon color="primary">arrow_downward</mat-icon>
                    </div>
                    <span class="text-center">Received List</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <mat-icon color="primary">library_books</mat-icon>
                    <span class="text-center">Journal List</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <mat-icon color="primary">list_alt</mat-icon>
                    <span class="text-center">Ledger</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <mat-icon color="primary">account_balance_wallet</mat-icon>
                    <span class="text-center">Trial Balance</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <mat-icon color="primary">book</mat-icon>
                    <span class="text-center">Passbook</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <mat-icon color="primary">account_circle</mat-icon>
                    <span class="text-center">Account</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <mat-icon color="primary">location_city</mat-icon>
                    <span class="text-center">City</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-card">
            <mat-card-content class="h-100">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <mat-icon color="primary">more_horiz</mat-icon>
                    <span class="text-center">Other</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>