
.table-container {
    height: calc(100vh - 15rem);
    overflow-y: auto;

    table {
        th, td {
            &:last-of-type {
                text-align: right; 
            }
            &:nth-child(2) {
                text-align: center;
            }
        }
    }
    .bg-red {
        background: #d8b0b0;
    }
    .bg-green {
        background: #c5e1c7;
    }

}