<div class="row mt-3">
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <mat-form-field class="w-100">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date" readonly [max]="maxDate" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <mat-form-field class="w-100">
            <mat-label>Amount</mat-label>
            <input matInput type="number" placeholder="Amount" [(ngModel)]="amount" required>
            <mat-hint [ngClass]="{'mat-mdc-form-field-error': amount < 0}" *ngIf="amount < 0">
                Negative amount not allowed
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <mat-form-field class="w-100">
            <mat-label *ngIf="tranType==='profit'">Profit Of</mat-label>
            <mat-label *ngIf="tranType==='loss'">Loss Of</mat-label>
            <mat-select [(ngModel)]="receivedFrom" required>
                <ng-container *ngFor="let account of options">
                    <mat-option *ngIf="account.Type.toLowerCase() == 'angadiya' || account.Type.toLowerCase() == 'client'" [value]="account">
                        {{account.Name}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <mat-form-field class="w-100">
            <mat-label>Remark</mat-label>
            <input matInput placeholder="Remark" [(ngModel)]="remark">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex gap-2">
        <button mat-raised-button color="primary" (click)="save(existingHisaabDetails.Guid != null ? true : false)">{{actionLabel}}</button>
        <button mat-raised-button color="primary" (click)="deleteTran(false)" *ngIf="existingHisaabDetails.Guid != null">Delete</button>
    </div>
</div>