<div class="pt-4 pb-4 d-flex flex-column">
    <div class="pt-3 top-sticky">
        <div class="d-flex align-items-center">
            <div class="col-4">
                <mat-icon color="primary" (click)="back()">arrow_back</mat-icon>
            </div>
            <div class="col-4 text-center">
                <h2 class="m-0">City</h2>
            </div>
            <div class="col-4 text-end">
                <span>
                    <button mat-raised-button color="primary" (click)="add()">Add</button>
                </span>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <mat-form-field class="w-100">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput type="search" placeholder="Search" [(ngModel)]="searchText" (keyup)="filterCities()">
                </mat-form-field>
            </div>
            
        </div>
    </div>

    <div>
        <mat-list role="list" class="city-list">
            <mat-list-item role="listitem" *ngFor="let city of filteredCities">{{city.Name}}</mat-list-item>
        </mat-list>
    </div>
</div>