<div class="container" fxLayout="row" fxFlexFill fxLayoutAlign="center center">
    <mat-card>
        <mat-card-content class="login-container">
            <h1>Change Password</h1>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field>
                    <input matInput placeholder="Old Password" [(ngModel)]="userDetails.OldPassword">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="New Password" type="password" [(ngModel)]="userDetails.NewPassword">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword">
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="changePassword()" class="w-100" [disabled]="userDetails.NewPassword !== confirmPassword">Change Password</button>
        </mat-card-content>
    </mat-card>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>