<div class="pt-4 pb-4">
    <div class="d-flex align-items-center">
        <div class="col-4">
            <mat-icon color="primary" (click)="back()">arrow_back</mat-icon>
        </div>
        <div class="col-4 text-center">
            <h2 class="m-0">Angadiya</h2>
        </div>
        <div class="col-4 text-end" *ngIf="existingSendDetails.Guid != null">
            <button mat-raised-button color="primary" (click)="generatePdf()">Pdf</button>
        </div>
    </div>
    <mat-tab-group class="journal-mat-tab-group" [selectedIndex]="selectedIndex">
        <mat-tab [disabled]="existingSendDetails.Guid != null && existingSendDetails.TransitionType.toLowerCase() === 'receive'">
            <ng-template mat-tab-label>
                Send
            </ng-template>
            <ng-template matTabContent>
                <app-send (goToMainDashboard)="back()" [existingSendDetails]="existingSendDetails" (getCityNameForPdf)="getCityNameForPdf($event)"></app-send>
            </ng-template>
        </mat-tab>
        <mat-tab [disabled]="existingSendDetails.Guid != null && existingSendDetails.TransitionType.toLowerCase() === 'send'">
            <ng-template mat-tab-label>
                Received
            </ng-template>
            <ng-template matTabContent>
                <app-received (goToMainDashboard)="back()" [existingSendDetails]="existingSendDetails"></app-received>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>