<div class="d-flex flex-column">
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <mat-icon color="primary" (click)="back()">arrow_back</mat-icon>
        </div>
        <div class="row mt-3">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <mat-form-field class="w-100">
                    <input matInput placeholder="City Name" [(ngModel)]="cityName">
                </mat-form-field>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="primary" (click)="add()">Add</button>
            </div>
        </div>
    </div>
</div>