<div class="pt-4 pb-4">
    <div class="d-flex align-items-center">
        <div class="col-4">
            <mat-icon color="primary" (click)="back()">arrow_back</mat-icon>
        </div>
        <div class="col-4 text-center">
            <h2 class="m-0">Hisaab List</h2>
        </div>
    </div>
    <mat-tab-group class="journal-mat-tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                Loss List
            </ng-template>
            <ng-template matTabContent>
                <app-loss-list *ngIf="accountList.length > 0" [accountList]="accountList"></app-loss-list>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Profit List
            </ng-template>
            <ng-template matTabContent>
                <app-profit-list *ngIf="accountList.length > 0" [accountList]="accountList"></app-profit-list>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Both
            </ng-template>
            <ng-template matTabContent>
                <app-pnl-both *ngIf="accountList.length > 0" [accountList]="accountList"></app-pnl-both>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
